/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background: var(--page-bg-image, #000028) no-repeat center;
  background-color: var(--bg-color, #000);
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-color);
  inline-size: 100%;
  font-family: 'IBM Plex mono', 'Lucida Console', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: calc(4 * var(--page-padding));
}

.link {
  text-decoration: none;
}

.link:hover {
  border-block-end: 1px solid var(--main-color);
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.link_decorated {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
  border-block-start: 1px solid var(--decorated-accent-color);
  border-inline-end: 1px solid var(--decorated-accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--page-padding);
  inset-block-end: var(--page-padding);
  border-block-end: 1px solid var(--decorated-accent-color);
  border-inline-start: 1px solid var(--decorated-accent-color);
}

.header {
  block-size: 100dvb;
  min-block-size: 667px;
  display: grid;
  position: relative;
  padding: var(--page-padding);
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu {
  position: relative;
  z-index: 10;
  display: flex;
  inline-size: fit-content;
  justify-self: flex-end;
  align-self: center;
  color: var(--decorated-accent-color);
}

.header__theme-menu-button {
  position: relative;
  background: none;
  border: none;
  padding: 0 13px 3px;
  text-transform: lowercase;
  color: currentColor;
  cursor: pointer;
}

.header__theme-menu-button:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  outline: 1px solid currentColor;
  opacity: .4;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

.content {
  display: grid;
  gap: 50px;
  padding: 0 var(--page-padding);
}

.content-section__list-item {
  display: grid;
  gap: 10px;
}

.content-section__nested-section {
  display: grid;
  gap: inherit;
}

.header__subtitle {
  white-space: pre-line;
}

.title-decor {
  display: grid;
  gap: inherit;
  font-weight: 700;
  font-size: 18px;
  color: var(--decorated-accent-color);
}

.title-main {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-main-color);
  line-height: 83%;
  font-weight: 700;
  justify-self: start;
}

.title-main_shadow-header {
  text-shadow: 4px 4px var(--accent-color);
}

.title-main_shadow-footer {
  text-shadow: 2px 2px var(--accent-color);
}

.title-decor_accent {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.title-decor_subtopic {
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-auto-flow: dense;
  gap: var(--page-padding);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-block-start: var(--page-padding);
}

.gallery__image {
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.rec {
  position: absolute;
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
  display: var(--rec-display);
  margin-inline-end: 9px;
  color: var(--decorated-accent-color);
  font-size: 18px;
  line-height: 26px;
  gap: 9px;
  text-transform: uppercase;
}

.rec::before {
  content: "REC";
}

.rec::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  margin: auto;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
}

.content-section {
  display: grid;
  gap: 20px;
  align-items: start;
}

.content-section__list {
  display: grid;
  gap: 20px;
}

.gallery-section {
  gap: 0;
}

.footer {
  block-size: 100dvb;
  min-block-size: 667px;
  display: grid;
  place-content: center;
  position: relative;
  padding: var(--page-padding);
}

@media (width >= 768px) {

  .page {
    gap: calc(3 * var(--page-padding));
  }

  .title-main {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .title-main {
    margin-inline-start: calc(var(--page-padding) * -1);
  }

  .content-section_what .title-decor {
    grid-template-columns: 1fr 2fr;
  }

  .header__subtitle {
    inline-size: 50%;
    justify-self: end;
  }

  .gallery {
    grid-template-columns: repeat(3, minmax(229px, auto));
    grid-template-rows: auto;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .gallery__image:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 3;
  }

  .gallery__image:nth-child(3) {
    grid-row: 2 / span 2;
    grid-column: 1;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .content {
    gap: 80px;
  }

  .content-section_why {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_howto {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section_what .title-decor {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section_what .content-section__list {
    grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
    align-items: start;
  }

  /* Эти два правила (см. ниже) не надо делать,
  но шаблон кривоват для >= 1024px, так что пусть будет.
  Объединять эти два класса в один не буду,
  т.к. вдруг автор потом передумает и захочет сменить способ разбиения у одной из секций
  */
  .content-section_why {
    grid-template-columns: 1fr 2.1fr;
  }

  .content-section_howto {
    grid-template-columns: 1fr 2.1fr;
  }
}
