/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-bg-image: url(../images/cover-image.png);
  /* --bg-color: #1d233a; */
  --bg-color: #000028;
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-main-color: #db00ff;
}
